<div class="navmenuheader">
  <a href="#logo" class="logo">Portfolio</a>
  <div class="menu-icon" (click)="toggleMenu()">
    <i class="fa fa-bars"></i>
  </div>
  <div class="nav-container" [class.active]="isMenuOpen">
    <nav class="navbar">
      <a href="#" (click)="closeMenu()">Home</a>
      <a href="#aboutSection" (click)="closeMenu()">About</a>
      <a href="#skillSection" (click)="closeMenu()">Skill</a>
      <a href="#" (click)="closeMenu()">Projects</a>
      <a href="#" (click)="closeMenu()">Contact</a>
    </nav>
  </div>
</div>
<section class="Home">
  <div class="home-content">
    <div class="row w-100">
      <div class="col-8 desc">
        <h3>Hello , Its me</h3>
        <h1>Suriya</h1>

        <ngx-typed-js
          [strings]="['Web Developer.', 'Angular Developer.', 'Photographer.']"
          [typeSpeed]="100"
          [backSpeed]="200"
          [backDelay]="500"
          [loop]="true"
        >
          <h3>And I'm a <span class="typing"></span></h3>
        </ngx-typed-js>

        <p>
          I'm a Senior Software Developer with extensive experience for over 3
          years.
          <br />expertise is to create and develop responsive web applications
          using Angular, Bootstrap,CSS, Angular Material.
        </p>
        <div class="homeicons">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa fa-brands fa-whatsapp"></i></a>
        </div>
        <div>
          <button class="btn">More About Me</button>
        </div>
      </div>
      <div class="col-4 imgcss">
        <img
          class="userimg img-fluid"
          src="../../../assets/new_pic.jpg"
          alt="userphoto"
        />
      </div>
    </div>
  </div>
</section>
<section class="Home" id="aboutSection">
  <app-about-component></app-about-component>
</section>
<section class="Home" id="skillSection">
  <app-skill></app-skill>
</section>