.card {
  background: inherit;
  border: 1px solid antiquewhite;
}
.card,
.card-header {
  color: #ffe4c4;
  text-align: center;
}
.card-header {
  font-size: 29px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .card-body {
    padding: 15px;
  }
}

@media (max-width: 576px) {
  .card-header {
    font-size: 24px;
  }
  .card-title {
    font-size: 18px;
  }
  .card-text {
    font-size: 14px;
  }
}