/* You can add global styles to this file, and also import other style files */
@import url("../node_modules/bootstrap/dist/css/bootstrap.css");
@import url("../node_modules/font-awesome/css/font-awesome.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace, Times, serif;
}
body {
  color: bisque;
  background-size: cover;
  background: url("../src/assets/backgnd.jpg") repeat;
}
.header {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  background: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  position: relative;
  font-size: 27px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  border: 1px solid aqua;
  margin: 5px;
  padding: 2px 7px;
  border-radius: 10%;
}
.navbar {
  display: inline-block;
  font-size: 25px;
  color: #ffff;
  text-decoration: none;
  font-weight: 600;
  margin-left: 30px;
  transition: 0.3s;
  background: inherit;
}
.navbar a {
  padding: 3px 1px;
  color: #ffff;
  margin: 0px 2%;
  text-decoration: none;
}
.navbar a:hover {
  color: aqua;
  border-bottom: 3px solid aqua;
}
.float-end {
  float: right;
}
.w-95 {
  width: 95%;
}
.w-100 {
  width: 100%;
}
.Home {
  position: relative;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  background: inherit;
  padding: 40px 10% 0;
}
.home-content {
  max-width: 100%;
}
.pt-0 {
  padding-top: 0px;
}
.mr-6p {
  margin-right: 6%;
}
/* margin collectio starts */
.mt-40 {
  margin-top: 40px;
}

.mt-20 {
  margin-top: 20px;
}
/* margin collectio ends */
